@page "/login"
@using ClinicScheduler.Dto
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>LOGIN</h3>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input @bind="_userModel.Email" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input @bind="_userModel.Password" type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="mb-3 d-grid gap-2">
            <button @onclick="Authenticate" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>

<h3>Login</h3>



@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default !;
    private UserDto _userModel = new();
    

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    private async Task Authenticate()
    {
        // // var result = await SignInManager.PasswordSignInAsync();
        // if (result.Succeeded)
        // {
        //     NavigationManager.NavigateTo("/");
        // }
        NavigationManager.NavigateTo("/");
    }

}