<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClinicScheduler</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doctor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Doctors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patient">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Patients
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="visit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Visits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="swagger/index.html">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>

